/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
@media (min-width: 1025px) and (max-width: 1440px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
  }
}

.titulos,
.subtitulos {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-variant: small-caps;
}

.titulos {
  background: -webkit-linear-gradient(right, transparent, #ddd, #ddd, transparent) no-repeat center bottom/100px 1px;
  background: linear-gradient(to left, transparent, #ddd, #ddd, transparent) no-repeat center bottom/100px 1px;
  color: #111111;
  font-size: 1.2vw;
  margin-bottom: 10px;
  padding-bottom: 11px;
}

.subtitulos {
  color: #aaa;
  font-size: 0.6vw;
}

body {
  position: relative;
}
