/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

input {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
/* TAGS */
body {
  position: relative;
}

/* DIV LIMITE */
@media (max-width: 640px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 0px 20px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 0px 20px;
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
  }
}

/* FONT-SIZE */
html {
  font-size: 16px;
}

@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/* Titulos */
.titulos-a,
.subtitulo-a,
.titulos-b,
.subtitulo-b,
.titulos-separador {
  margin-bottom: 10px;
}

.titulos-a,
.subtitulos-a,
.titulos-b,
.subtitulos-b {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.titulos-a,
.subtitulos-a {
  font-size: 1.333em;
  color: #111111;
}

.titulos-b,
.subtitulos-b {
  font-size: 1.333em;
  color: #fefefe;
}

.titulos-separador-a,
.titulos-separador-b {
  height: 20px;
  margin: 0 auto;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
  width: 140px;
}

.titulos-separador-a {
  background: -webkit-linear-gradient(left, transparent, #111111, transparent) no-repeat center/0px 1px;
  background: linear-gradient(to right, transparent, #111111, transparent) no-repeat center/0px 1px;
}

.titulos-separador-b {
  background: -webkit-linear-gradient(left, transparent, #fefefe, transparent) no-repeat center/0px 1px;
  background: linear-gradient(to right, transparent, #fefefe, transparent) no-repeat center/0px 1px;
}

.ativo .titulos-separador-a,
.ativo .titulos-separador-b {
  background-size: 140px 1px;
}

@media (max-width: 640px) {
  .titulos-a,
  .subtitulos-a,
  .titulos-b,
  .subtitulos-b {
    font-size: 1em;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .titulos-a,
  .subtitulos-a,
  .titulos-b,
  .subtitulos-b {
    font-size: 1em;
  }
}

/* Titulos efeito */
.titulos-a,
.titulos-b {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.subtitulos-a,
.subtitulos-b {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.ativo .titulos-a,
.ativo .titulos-b,
.ativo .subtitulos-a,
.ativo .subtitulos-b {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(315deg, #63b6db, #d132a9) no-repeat left top/100% 100%;
  background: linear-gradient(135deg, #63b6db, #d132a9) no-repeat left top/100% 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  height: 100vh;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100%;
}

.intro::before {
  -webkit-animation: pulse 10s infinite;
          animation: pulse 10s infinite;
  background: -webkit-linear-gradient(315deg, #5fce80, #309dcf) no-repeat left top/100% 100%;
  background: linear-gradient(135deg, #5fce80, #309dcf) no-repeat left top/100% 100%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.intro-limite {
  position: relative;
}

.intro-header {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.intro-header .invisivel {
  display: none;
}

.intro-header-texto, .intro-header-barra {
  font-size: 3.157em;
  display: inline-block;
  text-align: center;
}

.intro-header-barra {
  -webkit-animation: piscando 900ms infinite;
          animation: piscando 900ms infinite;
}

@media (max-width: 640px) {
  .intro-header-texto,
  .intro-header-barra {
    font-size: 1.333em;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .intro-header-texto,
  .intro-header-barra {
    font-size: 1.777em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .intro-header-texto,
  .intro-header-barra {
    font-size: 2.369em;
  }
}

@-webkit-keyframes piscando {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes piscando {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.works {
  background-color: #303030;
  display: inline-block;
  min-height: 100vh;
  padding: 50px 0;
  width: 100%;
}

.works-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.works-lista {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.works-lista-item {
  background: #F0F1F3;
  border: 1px solid #E9ECEF;
  border-radius: 5px 5px 3px 3px;
  box-shadow: 10px 10px 13px 0px rgba(17, 17, 17, 0.75);
  display: inline-block;
  height: 235px;
  margin: 20px;
  opacity: 0;
  padding: 24px 5px 5px;
  position: relative;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: opacity 900ms, -webkit-transform 700ms;
  transition: opacity 900ms, -webkit-transform 700ms;
  transition: opacity 900ms, transform 700ms;
  transition: opacity 900ms, transform 700ms, -webkit-transform 700ms;
  width: 402px;
}

.works-lista-link {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.works-lista-link::after {
  background: -webkit-linear-gradient(top, rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), -webkit-linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), -webkit-linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), -webkit-linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2));
  background: linear-gradient(to bottom, rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2)), linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.2));
  background-position: left top, left bottom, right top, right bottom;
  background-repeat: no-repeat;
  background-size: 100% 0%, 0% 100%, 0% 100%, 100% 0%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.works-lista-link:hover::after {
  background-size: 100% 100%;
  -webkit-transition: background-size 700ms 200ms;
  transition: background-size 700ms 200ms;
}

.works-lista-link:hover .works-lista-img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.works-lista-img {
  -webkit-filter: initial;
          filter: initial;
  height: 100%;
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
  width: 100%;
}

.works-lista-janela-menu {
  display: inline-block;
  left: 9px;
  position: absolute;
  top: 3px;
}

.works-lista-janela-btn {
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  width: 7px;
}

.works-lista-janela-btn:not(:first-of-type) {
  margin-left: 3px;
}

.works-lista-janela-fechar {
  background-color: #fb535f;
}

.works-lista-janela-minimizar {
  background-color: #fdce64;
}

.works-lista-janela-maximizar {
  background-color: #9ce275;
}

.works-lista-detalhes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.works-lista-detalhes-texto {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-variant: small-caps;
  font-size: 14px;
  letter-spacing: 1px;
}

.works-lista-link:hover .works-lista-detalhes {
  opacity: 1;
  -webkit-transition: opacity 500ms 700ms;
  transition: opacity 500ms 700ms;
}

@media (max-width: 640px) {
  .works-lista-item {
    height: calc((100vw - 40px) / 1.710);
    width: calc(100vw - 40px);
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.contact {
  min-height: 100vh;
  padding: 50px 0 100px;
  width: 100%;
}

.contact-limite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

.contact-formulario {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-formulario-nome, .contact-formulario-email, .contact-formulario-mensagem, .contact-formulario-btn {
  background-color: #fefefe;
  border: 1px solid #e9e9e9;
  font-family: "Lato", sans-serif;
  padding: 10px;
}

.contact-formulario-campos, .contact-formulario-mensagem, .contact-formulario-btn {
  max-width: 70%;
  width: 70%;
}

.contact-formulario-nome, .contact-formulario-email {
  width: 45%;
}

.contact-formulario-nome {
  float: left;
}

.contact-formulario-email {
  float: right;
}

.contact-formulario-mensagem {
  box-sizing: border-box;
  margin-top: 20px;
}

.contact-formulario-btn {
  margin-top: 20px;
}

.contact-lista {
  margin-top: 200px;
  text-align: center;
}

.contact-lista-item {
  background: rgba(48, 48, 48, 0.05);
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.contact-lista-item:hover {
  background: rgba(48, 48, 48, 0.1);
}

.contact-lista-item:not(:first-of-type) {
  margin-left: 20px;
}

.contact-lista-icon {
  color: #303030;
  font-size: 2em;
}

@media (max-width: 1024px) {
  .contact-formulario-nome, .contact-formulario-email {
    float: none;
    width: 100%;
  }
  .contact-formulario-email {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .contact-formulario-campos, .contact-formulario-mensagem, .contact-formulario-btn {
    max-width: none;
    width: 100%;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-variant: small-caps;
  font-size: 12px;
  height: 50px;
  left: 0;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  text-transform: lowercase;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  z-index: 1;
}

.footer-texto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-copyright {
  text-align: center;
}

.footer-localidade {
  text-align: right;
}

@media (max-width: 1024px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 10px;
  }
  .footer-texto:not(:first-of-type) {
    margin-top: 5px;
  }
  .footer-copyright {
    display: none;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.visivel {
  opacity: 1;
}

.cresceu {
  -webkit-transform: scale(1);
          transform: scale(1);
}
