/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
@media (min-width: 1025px) and (max-width: 1440px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
  }
}

body {
  position: relative;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100%;
}

.intro h1 {
  font-size: 3.3vw;
}

.intro h2 {
  font-size: 3vw;
}

.intro p {
  font-size: 1.4vw;
}

.intro-barra {
  -webkit-animation: barra 5s 3 linear;
          animation: barra 5s 3 linear;
  background-color: white;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
}

.intro-sobre, .intro-trabalho, .intro-habilidades, .intro-contato {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.intro-sobre-header, .intro-trabalho-header, .intro-habilidades-header, .intro-contato-header {
  display: inline-block;
}

.intro-sobre-header-texto-2 {
  margin-top: 40px;
}

.intro-sobre-header-texto-3 {
  margin-top: 40px;
}

.intro-trabalho-header-texto-2 {
  margin-top: 40px;
}

.intro-trabalho-header-texto-3 {
  margin-top: 30px;
}

.intro-habilidades-header-lista {
  margin-top: 45px;
}

.intro-habilidades-header-item {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
}

.intro-habilidades-header-item:not(:first-of-type) {
  margin-left: 12px;
  padding-left: 23px;
  position: relative;
}

.intro-habilidades-header-item:not(:first-of-type)::before {
  background-color: white;
  border-radius: 50%;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 7px;
}

.intro-contato {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-contato-header-texto-2 {
  margin-top: 40px;
}

.intro-contato-btn {
  background-color: #b6483d;
  border: 1px solid transparent;
  border-radius: 50%;
  color: white;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100px;
}

.intro-contato-btn:hover {
  background-color: transparent;
  border: 1px solid black;
}

@-webkit-keyframes barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.works {
  background-color: white;
  display: inline-block;
  padding: 50px 0;
  width: 100%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 884px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1326px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1768px;
    overflow: hidden;
    width: 100%;
  }
}

.works-lista {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.works-lista-item {
  background: #F0F1F3;
  border: 1px solid #E9ECEF;
  border-radius: 5px 5px 3px 3px;
  display: inline-block;
  height: 235px;
  margin: 20px;
  padding: 24px 5px 5px;
  position: relative;
  width: 402px;
}

.works-lista-link {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.works-lista-link::after {
  background: -webkit-linear-gradient(top, rgba(73, 78, 107, 0.2), rgba(73, 78, 107, 0.2)), -webkit-linear-gradient(rgba(25, 34, 49, 0.2), rgba(25, 34, 49, 0.2)), -webkit-linear-gradient(rgba(152, 94, 109, 0.2), rgba(152, 94, 109, 0.2)), -webkit-linear-gradient(rgba(152, 135, 143, 0.2), rgba(152, 135, 143, 0.2));
  background: linear-gradient(to bottom, rgba(73, 78, 107, 0.2), rgba(73, 78, 107, 0.2)), linear-gradient(rgba(25, 34, 49, 0.2), rgba(25, 34, 49, 0.2)), linear-gradient(rgba(152, 94, 109, 0.2), rgba(152, 94, 109, 0.2)), linear-gradient(rgba(152, 135, 143, 0.2), rgba(152, 135, 143, 0.2));
  background-position: left top, left bottom, left center, right center;
  background-repeat: no-repeat;
  background-size: 100% 0%, 100% 0%, 0% 100%, 0% 100%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.works-lista-link:hover::after {
  background-size: 100% 100%;
  -webkit-transition: background-size 700ms 200ms;
  transition: background-size 700ms 200ms;
}

.works-lista-link:hover .works-lista-img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.works-lista-img {
  -webkit-filter: initial;
          filter: initial;
  height: 100%;
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
  width: 100%;
}

.works-lista-janela-menu {
  display: inline-block;
  left: 9px;
  position: absolute;
  top: 3px;
}

.works-lista-janela-btn {
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  width: 7px;
}

.works-lista-janela-btn:not(:first-of-type) {
  margin-left: 3px;
}

.works-lista-janela-fechar {
  background-color: #fb535f;
}

.works-lista-janela-minimizar {
  background-color: #fdce64;
}

.works-lista-janela-maximizar {
  background-color: #9ce275;
}

.works-lista-detalhes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.works-lista-detalhes-texto {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.works-lista-link:hover .works-lista-detalhes {
  opacity: 1;
  -webkit-transition: opacity 500ms 700ms;
  transition: opacity 500ms 700ms;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  text-transform: lowercase;
  -webkit-transition: opacity 1s 500ms;
  transition: opacity 1s 500ms;
  width: 100%;
  z-index: 1;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.efeitoFooter {
  opacity: 1;
}

.efeitoBackgroundA {
  background-color: #494E6B;
}

.efeitoBackgroundB {
  background-color: #98878F;
}

.efeitoBackgroundC {
  background-color: #985E6D;
}

.efeitoBackgroundD {
  background-color: #192231;
}

.efeitoDiv {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
