/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(45deg, #E14658, #3F3250) no-repeat left top/100% 100%;
  background: linear-gradient(45deg, #E14658, #3F3250) no-repeat left top/100% 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100%;
}

.intro-limite {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-header .invisivel {
  display: none;
}

.intro-header-texto, .intro-header-barra {
  display: inline-block;
}

.intro-header-barra {
  -webkit-animation: piscando 900ms infinite;
          animation: piscando 900ms infinite;
}

@-webkit-keyframes piscando {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes piscando {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
