/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(45deg, #E14658, #3F3250) no-repeat left top/100% 100%;
  background: linear-gradient(45deg, #E14658, #3F3250) no-repeat left top/100% 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100%;
}

.intro h1 {
  font-size: 3.3vw;
}

.intro h2 {
  font-size: 3vw;
}

.intro p {
  font-size: 1.4vw;
}

.intro-barra {
  -webkit-animation: barra 5s 3 linear;
          animation: barra 5s 3 linear;
  background-color: white;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
}

.intro-sobre, .intro-trabalho, .intro-habilidades, .intro-contato {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.intro-sobre-header, .intro-trabalho-header, .intro-habilidades-header, .intro-contato-header {
  display: inline-block;
}

.intro-sobre-header-texto-2 {
  margin-top: 40px;
}

.intro-sobre-header-texto-3 {
  margin-top: 40px;
}

.intro-trabalho-header-texto-2 {
  margin-top: 40px;
}

.intro-trabalho-header-texto-3 {
  margin-top: 30px;
}

.intro-habilidades-header-lista {
  margin-top: 45px;
}

.intro-habilidades-header-item {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
}

.intro-habilidades-header-item:not(:first-of-type) {
  margin-left: 12px;
  padding-left: 23px;
  position: relative;
}

.intro-habilidades-header-item:not(:first-of-type)::before {
  background-color: white;
  border-radius: 50%;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 7px;
}

.intro-contato-header-texto-2 {
  margin-top: 50px;
}

.intro-contato-header-texto-3 {
  color: #e05848;
  margin-top: 20px;
}

.intro-contato-header-lista {
  margin-top: 30px;
}

.intro-contato-header-item {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
}

.intro-contato-header-item:not(:first-of-type) {
  margin-left: 16px;
}

.intro-contato-header-svg {
  fill: white;
  height: 100%;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
  width: 100%;
}

.intro-contato-header-item:hover .intro-contato-header-svg {
  fill: rgba(224, 88, 72, 0.5);
}

.intro-contato-header-link {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
