/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.efeitoFooter {
  opacity: 1;
}

.efeitoDiv {
  display: none;
}

.efeito-sobre-alvo {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.efeitoSobreAtivo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.efeito-trabalho-alvo {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.efeito-trabalho-alvo-a {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.efeito-trabalho-alvo-b {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.efeitoTrabalhoAtivo {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.efeito-habilidades-alvo {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
  transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
}

.efeitoHabilidadesAtivo {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.efeito-contato-alvo {
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
  transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
}

.efeito-contato-alvo-a {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.efeito-contato-alvo-b {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.efeito-contato-alvo-c {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.efeitoContatoAtivo {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
}
