/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.efeitoFooter {
  opacity: 1;
}

.efeitoBackgroundA {
  background-color: #494E6B;
}

.efeitoBackgroundB {
  background-color: #98878F;
}

.efeitoBackgroundC {
  background-color: #985E6D;
}

.efeitoBackgroundD {
  background-color: #192231;
}

.efeitoDiv {
  display: none;
}

.efeito-sobre-alvo {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.efeitoSobreAtivo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
