/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.efeitoFooter {
  opacity: 1;
}

.efeitoBackgroundA {
  background-color: #494E6B;
}

.efeitoBackgroundB {
  background-color: #98878F;
}

.efeitoBackgroundC {
  background-color: #985E6D;
}

.efeitoBackgroundD {
  background-color: #192231;
}

.efeitoDiv {
  display: none;
}
