/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.works {
  background-color: white;
  display: inline-block;
  padding: 50px 0;
  width: 100%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 816px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1224px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1632px;
    overflow: hidden;
    width: 100%;
  }
}

.works-lista {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.works-lista-item {
  background: #F0F1F3;
  border: 1px solid #E9ECEF;
  border-radius: 5px 5px 3px 3px;
  display: inline-block;
  height: 235px;
  margin: 20px;
  padding: 24px 5px 5px;
  position: relative;
  width: 368px;
}

.works-lista-link {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.works-lista-link::after {
  background: -webkit-linear-gradient(top, rgba(73, 78, 107, 0.2), rgba(73, 78, 107, 0.2)), -webkit-linear-gradient(rgba(25, 34, 49, 0.2), rgba(25, 34, 49, 0.2)), -webkit-linear-gradient(rgba(152, 94, 109, 0.2), rgba(152, 94, 109, 0.2)), -webkit-linear-gradient(rgba(152, 135, 143, 0.2), rgba(152, 135, 143, 0.2));
  background: linear-gradient(to bottom, rgba(73, 78, 107, 0.2), rgba(73, 78, 107, 0.2)), linear-gradient(rgba(25, 34, 49, 0.2), rgba(25, 34, 49, 0.2)), linear-gradient(rgba(152, 94, 109, 0.2), rgba(152, 94, 109, 0.2)), linear-gradient(rgba(152, 135, 143, 0.2), rgba(152, 135, 143, 0.2));
  background-position: left top, left bottom, left center, right center;
  background-repeat: no-repeat;
  background-size: 100% 0%, 100% 0%, 0% 100%, 0% 100%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.works-lista-link:hover::after {
  background-size: 100% 100%;
  -webkit-transition: background-size 700ms 200ms;
  transition: background-size 700ms 200ms;
}

.works-lista-link:hover .works-lista-img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.works-lista-img {
  -webkit-filter: initial;
          filter: initial;
  height: 100%;
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
  width: 100%;
}

.works-lista-janela-menu {
  display: inline-block;
  left: 9px;
  position: absolute;
  top: 3px;
}

.works-lista-janela-btn {
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  width: 7px;
}

.works-lista-janela-btn:not(:first-of-type) {
  margin-left: 3px;
}

.works-lista-janela-fechar {
  background-color: #fb535f;
}

.works-lista-janela-minimizar {
  background-color: #fdce64;
}

.works-lista-janela-maximizar {
  background-color: #9ce275;
}

.works-lista-detalhes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.works-lista-detalhes-texto {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.works-lista-link:hover .works-lista-detalhes {
  opacity: 1;
  -webkit-transition: opacity 500ms 700ms;
  transition: opacity 500ms 700ms;
}
