/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.works {
  background-color: #665FAC;
  height: 100vh;
  padding: 70px 0;
  width: 100%;
}

.works-limite {
  background: green;
}

.works-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.works-lista-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 25%;
  position: relative;
  width: 33.33%;
}

.works-lista-birden {
  background-image: url(../img/birden.jpg);
}

.works-lista-hoover {
  background-image: url(../img/hoover.jpg);
}

.works-lista-jessica {
  background-image: url(../img/jessica.jpg);
}

.works-lista-oneda {
  background-image: url(../img/oneda.jpg);
}

.works-lista-renovo {
  background-image: url(../img/renovo.jpg);
}

.works-lista-xica {
  background-image: url(../img/xica.jpg);
}

.works-lista-stella {
  background-image: url(../img/stella.jpg);
}

.works-lista-veyron {
  background-image: url(../img/veyron.jpg);
}

.works-lista-starsup {
  background-image: url(../img/starsup.jpg);
}

.works-lista-pactus {
  background-image: url(../img/pactus.jpg);
}

.works-lista-nieva {
  background-image: url(../img/nieva.jpg);
}

.works-lista-gbox {
  background-image: url(../img/gbox.jpg);
}

.works-lista-link {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.works-lista-etiqueta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(85, 113, 168, 0.6);
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 0 1vw;
  position: absolute;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  width: 100%;
}

.works-lista-link:hover .works-lista-etiqueta {
  bottom: 0;
  opacity: 1;
}

.works-lista-etiqueta-texto {
  color: white;
  font-family: "Ubuntu", sans-serif;
}
