/* Variaveis */
/* Mixins */
/* Media Querys */
/* Configs fixas */
.works {
  background-color: white;
  display: inline-block;
  padding: 50px 0;
  width: 100%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 816px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1224px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .works-limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1632px;
    overflow: hidden;
    width: 100%;
  }
}

.works-lista {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.works-lista-item {
  background: #F0F1F3;
  border: 1px solid #E9ECEF;
  border-radius: 5px 5px 3px 3px;
  display: inline-block;
  height: 235px;
  margin: 20px;
  padding: 24px 5px 5px;
  position: relative;
  width: 368px;
}

.works-lista-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.works-lista-img {
  height: 100%;
  width: 100%;
}

.works-lista-janela-menu {
  display: inline-block;
  left: 9px;
  position: absolute;
  top: 3px;
}

.works-lista-janela-btn {
  border-radius: 50%;
  display: inline-block;
  height: 7px;
  width: 7px;
}

.works-lista-janela-btn:not(:first-of-type) {
  margin-left: 3px;
}

.works-lista-janela-fechar {
  background-color: #fb535f;
}

.works-lista-janela-minimizar {
  background-color: #fdce64;
}

.works-lista-janela-maximizar {
  background-color: #9ce275;
}
