@import 'utilitarios';

.footer{
  align-items:center; bottom:0; color:rgba(black, .2); display:flex; font-family:$fonteB; font-size:12px; font-variant:small-caps; height:50px; justify-content:space-between; left:0; opacity:0; padding:0 20px; position:absolute; text-transform:lowercase; transition:opacity 1s 500ms; width:100%; z-index:1;
}
