@import 'utilitarios';

/* TAGS */
body{position:relative;}

/* DIV LIMITE */
.limite{
  @include smartphone{height:100%; overflow:hidden; padding:0px 20px; width:100%;}
  @include tablet{height:100%; overflow:hidden; padding:0px 20px; width:100%;}
  @include desktop{height:100%; margin:0 auto; max-width:1000px; overflow:hidden; width:100%;}
  @include monitor{height:100%; margin:0 auto; max-width:1400px; overflow:hidden; width:100%;}
  @include ultrawide{height:100%; margin:0 auto; max-width:1600px; overflow:hidden; width:100%;}
}

/* FONT-SIZE */
html {
  font-size: 16px;

  @include tablet {
    font-size:18px;
  }

  @include tablet {
    font-size:20px;
  }
}

/* Titulos */
.titulos-a,
.subtitulo-a,
.titulos-b,
.subtitulo-b,
.titulos-separador{margin-bottom:10px;}

.titulos-a,
.subtitulos-a,
.titulos-b,
.subtitulos-b{display:inline-block; font-family:$fonteA; font-variant:small-caps; letter-spacing:1px;}

.titulos-a,
.subtitulos-a{font-size:$fonteH4; color:$preto;}

.titulos-b,
.subtitulos-b{font-size:$fonteH4; color:$branco;}

.titulos-separador-a,
.titulos-separador-b{height:20px; margin:0 auto; transition:background-size 1s; width:140px;}

.titulos-separador-a{background:linear-gradient(to right, transparent, $preto, transparent) no-repeat center / 0px 1px;}
.titulos-separador-b{background:linear-gradient(to right, transparent, $branco, transparent) no-repeat center / 0px 1px;}

.ativo .titulos-separador-a,
.ativo .titulos-separador-b{background-size:140px 1px;}

@include smartphone {
  .titulos-a,
  .subtitulos-a,
  .titulos-b,
  .subtitulos-b{font-size:$fonteH5;}
}

@include tablet {
  .titulos-a,
  .subtitulos-a,
  .titulos-b,
  .subtitulos-b{font-size:$fonteH5;}
}

/* Titulos efeito */

.titulos-a,
.titulos-b{opacity:0; transform:translateX(100px); transition:transform 1s, opacity 1s;}

.subtitulos-a,
.subtitulos-b{opacity:0; transform:translateX(-100px); transition:transform 1s, opacity 1s;}

.ativo .titulos-a,
.ativo .titulos-b,
.ativo .subtitulos-a,
.ativo .subtitulos-b{opacity:1; transform:translateX(0);}
