@import 'utilitarios';

.limite{
  @include desktop{height:100%; margin:0 auto; max-width:1000px; overflow:hidden; width:100%;}
  @include monitor{height:100%; margin:0 auto; max-width:1400px; overflow:hidden; width:100%;}
  @include ultrawide{height:100%; margin:0 auto; max-width:1600px; overflow:hidden; width:100%;}
}

.titulos,
.subtitulos{display:inline-block; font-family:$fonteC; font-variant:small-caps;}

.titulos{background:linear-gradient(to left, transparent, #ddd, #ddd, transparent) no-repeat center bottom / 100px 1px; color:$preto; font-size:1.2vw; margin-bottom:10px; padding-bottom:11px;}
.subtitulos{color:#aaa; font-size:0.6vw;}

body{position:relative;}
