@import 'utilitarios';

.intro{
  align-items:center; background:linear-gradient(135deg, $corA, $corB) no-repeat left top / 100% 100%; color:white; display:flex; flex-direction:column; font-family:$fonteA; height:100vh; position:relative; transition:background-color 1s; width:100%;

  &::before{animation:pulse 10s infinite; background:linear-gradient(135deg, $corC, $corD) no-repeat left top / 100% 100%; content:''; height:100%; left:0; position:absolute; top:0; width:100%;}

  &-limite{align-items:center; display:flex; justify-content:center;}

  &-header{
    z-index:1;

    .invisivel{display:none;}

    &-texto,
    &-barra{display:inline-block;}

    &-barra{animation:piscando 900ms infinite;}
  }
}

@keyframes piscando {
  0% {
    opacity:0;
  }

  49% {
    opacity:0;
  }

  50% {
    opacity:1;
  }

  100% {
    opacity:1;
  }
}

@keyframes pulse {
  0% {
    opacity:0;
  }

  50% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}
