@import 'utilitarios';

.intro{
  align-items:center; background:linear-gradient(45deg, $corA, $corC) no-repeat left top / 100% 100%; color:white; display:flex; flex-direction:column; font-family:$fonteC; height:100vh; position:relative; transition:background-color 1s; width:100%;

  h1{font-size:3.3vw;}
  h2{font-size:3vw;}
  p{font-size:1.4vw;}

  &-barra{animation:barra 5s 3 linear; background-color:white; height:3px; left:0; position:absolute; top:0;}

  &-sobre,
  &-trabalho,
  &-habilidades,
  &-contato{
    align-items:center; display:flex; justify-content:center; text-align:center;

    &-header{display:inline-block;}
  }

  &-sobre{
    &-header{
      &-texto-1{}
      &-texto-2{margin-top:40px;}
      &-texto-3{margin-top:40px;}
    }
  }

  &-trabalho{
    &-header{
      &-texto-1{}
      &-texto-2{margin-top:40px;}
      &-texto-3{margin-top:30px;}
    }
  }

  &-habilidades{
    &-header{
      &-texto-1{}
      &-lista{margin-top:45px;}
      &-item{display:inline-block; font-family:$fonteB;}
      &-item:not(:first-of-type)        {margin-left:12px; padding-left:23px; position:relative;}
      &-item:not(:first-of-type)::before{background-color:white; border-radius:50%; content:''; height:7px; left:0; position:absolute; top:4px; width:7px;}
    }
  }


  &-contato{
    &-header{
      &-texto-1{}
      &-texto-2{margin-top:50px;}
      &-texto-3{color:#e05848; margin-top:20px;}

      &-lista                   {margin-top:30px;}
      &-item                    {display:inline-block; height:40px; position:relative; width:40px;}
      &-item:not(:first-of-type){margin-left:16px;}
      &-svg                     {fill:white; height:100%; transition:fill 300ms; width:100%;}
      &-item:hover &-svg        {fill:rgba(#e05848, .5);}
      &-link                    {@include mascara;}
    }
  }
}

@keyframes barra {
  from{
    width:0%;
  }

  to{
    width:100%;
  }
}
