@import 'utilitarios';

.intro{
  align-items:center; background-color:$corA; color:white; display:flex; flex-direction:column; font-family:$fonteC; height:100vh; width:100%;

  h1{font-size:3.3vw;}
  h2{font-size:3vw;}
  p{font-size:1.4vw;}


  &-sobre,
  &-trabalho,
  &-habilidades,
  &-contato{
    align-items:center; display:flex; justify-content:center; text-align:center;

    &-header{display:inline-block;}
  }

  &-sobre{
    display:none;

    &-header{
      &-texto-1{}
      &-texto-2{margin-top:40px;}
      &-texto-3{margin-top:40px;}
    }
  }

  &-trabalho{
    display:none;

    &-header{
      &-texto-1{}
      &-texto-2{margin-top:40px;}
      &-texto-3{margin-top:30px;}
    }
  }

  &-habilidades{
    display:none;

    &-header{
      &-texto-1{}
      &-lista{margin-top:45px;}
      &-item{display:inline-block; font-family:$fonteB;}
      &-item:not(:first-of-type)        {margin-left:12px; padding-left:23px; position:relative;}
      &-item:not(:first-of-type)::before{background-color:white; border-radius:50%; content:''; height:7px; left:0; position:absolute; top:4px; width:7px;}
    }
  }


  &-contato{
    display:none; flex-direction:column;

    &-header{
      &-texto-1{}
      &-texto-2{margin-top:40px;}
    }

    &-btn      {background-color:#b6483d; border:1px solid transparent; border-radius:50%; color:white; height:100px; margin-top:40px; text-align:center; transition:background-color 1s; width:100px;}
    &-btn:hover{background-color:transparent; border:1px solid black; }
  }
}
