@import 'utilitarios';

.efeitoFooter{opacity:1;}


.efeitoBackgroundA{background-color:$corA;}
.efeitoBackgroundB{background-color:$corB;}
.efeitoBackgroundC{background-color:$corC;}
.efeitoBackgroundD{background-color:$corD;}

.efeitoDiv{display:none;}
