@import 'utilitarios';

.efeitoFooter{opacity:1;}


.efeitoBackgroundA{background-color:$corA;}
.efeitoBackgroundB{background-color:$corB;}
.efeitoBackgroundC{background-color:$corC;}
.efeitoBackgroundD{background-color:$corD;}

.efeitoDiv{display:none;}

.efeito-sobre-alvo{transform:translateY(50px); opacity:0; transition:all 1s;}
.efeitoSobreAtivo {transform:translateY(0); opacity:1;}

.efeito-trabalho-alvo  {opacity:0; transition:all 1s;}
.efeito-trabalho-alvo-a{transform:translateX(50px);}
.efeito-trabalho-alvo-b{transform:translateX(-50px);}
.efeitoTrabalhoAtivo   {transform:translateX(0); opacity:1;}

.efeito-habilidades-alvo{opacity:0; transform:scale(0.5); transition:all 1s cubic-bezier(0.250, 0.250, 0.230, 1.405);}
.efeitoHabilidadesAtivo {transform:scale(1); opacity:1;}

.efeito-contato-alvo  {opacity:0; transition:all 1s cubic-bezier(0.250, 0.250, 0.230, 1.405);}
.efeito-contato-alvo-a{transform:translateY(-50px);}
.efeito-contato-alvo-b{transform:scale(0.5);}
.efeito-contato-alvo-c{transform:translateY(50px);}
.efeitoContatoAtivo   {transform:translateY(0) scale(1); opacity:1;}
