@import 'utilitarios';

.works{
  background-color:white; display:inline-block; padding:50px 0; width:100%;

  &-limite{
    @include desktop  {height:100%; margin:0 auto; max-width:884px; overflow:hidden; width:100%;}
    @include monitor  {height:100%; margin:0 auto; max-width:1326px; overflow:hidden; width:100%;}
    @include ultrawide{height:100%; margin:0 auto; max-width:1768px; overflow:hidden; width:100%;}
  }
  &-lista{
    align-items:center; display:flex; flex-wrap:wrap; height:100%; justify-content:center; width:100%;

    &-item{background:#F0F1F3; border:1px solid #E9ECEF; border-radius:5px 5px 3px 3px; display:inline-block; height:235px; margin:20px; padding:24px 5px 5px; position:relative; width:402px;}

    &-link              {display:inline-block; height:100%; position:relative; width:100%;}
    &-link::after      {background:linear-gradient(to bottom, rgba($corA, .2), rgba($corA, .2)), linear-gradient(rgba($corD, .2), rgba($corD, .2)), linear-gradient(rgba($corC, .2), rgba($corC, .2)), linear-gradient(rgba($corB, .2), rgba($corB, .2)); background-position:left top, left bottom, left center, right center; background-repeat:no-repeat; background-size:100% 0%, 100% 0%, 0% 100%, 0% 100%; content:''; height:100%; left:0; position:absolute; top:0; width:100%;}
    &-link:hover::after{background-size:100% 100%; transition:background-size 700ms 200ms;}
    &-link:hover &-img {filter:blur(2px);}

    &-img {filter:initial; height:100%; transition:filter 500ms; width:100%;}

    &-janela-menu{display:inline-block; left:9px; position:absolute; top:3px;}

    &-janela-btn                    {border-radius:100%; display:inline-block; height:7px; width:7px;}
    &-janela-btn:not(:first-of-type){margin-left:3px;}

    &-janela-fechar   {background-color:#fb535f;}
    &-janela-minimizar{background-color:#fdce64;}
    &-janela-maximizar{background-color:#9ce275;}

    &-detalhes{
      align-items:center; display:flex; flex-direction:column; height:100%; justify-content:space-between; left:0; opacity:0; padding:15px 0; position:absolute; top:0; width:100%; z-index:1;

      &-texto {color:white; font-family:$fonteC; font-size:13px; font-variant:small-caps; letter-spacing:1px;}
      &-nome  {}
      &-skills{}
    }
    &-link:hover &-detalhes{opacity:1; transition:opacity 500ms 700ms; }
  }
}
